<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sunset Webinterface Middleware PROTOTYP</title>
</head>
<body onload="loadPage()">
	<h1>Sunset Webinterface PROTOTYP</h1>
	<p>Webseite zum Testen der wichtigsten Funktionen für das Projekt</p>
	<form action="/result" method="POST">
		<!-- &#10; Line Feed and &#13; Carriage return (for text in textarea) -->
		<textarea placeholder="ENTER CODE HERE" id="codeText" name="codeText" rows="8" cols="50"></textarea> <br /> 
		<input type="submit" value="Send Code" id="sendBtn" onclick="calcResult()"/>
		<input type="reset" value="Reset Code" id="resetBtn"/>
	</form>
	<br />
	<form action="/cancelled" method="POST">
		<input type="submit" value="Stop Calculation" id="stopBtn"/>
	</form>
	<br />
	<p id="infoText"></p>
	<input type="hidden" id="refreshed" value="no">
</body>
<script>
	function loadPage(){
		document.getElementById("sendBtn").disabled = false; 
		document.getElementById("resetBtn").disabled = false;
		document.getElementById("infoText").innerHTML = '';
		document.getElementById("stopBtn").disabled = true;
	}
	
	function calcResult(){
		console.log('Button <Send Code> clicked, deactivating elements ...');
		document.getElementById("sendBtn").disabled = true; 
		document.getElementById("resetBtn").disabled = true;
		document.getElementById("infoText").innerHTML = 'calculating result, please wait ...';
		document.getElementById("stopBtn").disabled = false;
	}
</script>
</html>